## Tuples
Tuple is immuable. Can't changed after assign

In [8]:
my_tuple= (20,"Tanveer", 3.14, True)
print(my_tuple)  

your_tuple = 10, "Afrin", 2.71, False
print(your_tuple)

his_tuple = ()
print(his_tuple)  # Output: ()

(20, 'Tanveer', 3.14, True)
(10, 'Afrin', 2.71, False)
()

In [79]:
#            -4    -3         -2    -1
my_tuple= (20,"Tanveer", 3.14, True)
print(my_tuple)  
print(my_tuple[::-1])  

print(my_tuple[0])  
print(my_tuple[-4])  

print(my_tuple[-3:-1])

(20, 'Tanveer', 3.14, True)
(True, 3.14, 'Tanveer', 20)
20
20
('Tanveer', 3.14)

In [80]:
my_tuple= (20,"Tanveer", 3.14, True)

if "Tanveer" in my_tuple:
    print("Tanveer is in the tuple")

Tanveer is in the tuple

In [81]:
my_tuple= (20,"Tanveer", 3.14, True)
print(my_tuple)

(20, 'Tanveer', 3.14, True)

#### Tuple to list --- list to tuple

In [ ]:
my_tuple= (20,"Tanveer", 3.14, True)
print(my_tuple)  

my_list = list(my_tuple)  # Convert tuple to list
my_list.append("New Item")  # Add an item to the list
my_list.remove(3.14)  # Remove an item from the list
my_list[0] = 25  # Change the first item in the list
print(my_list)

my_tuple = tuple(my_list)  # Convert list back to tuple
print(my_tuple)

(20, 'Tanveer', 3.14, True)
[25, 'Tanveer', True, 'New Item']
(25, 'Tanveer', True, 'New Item')

#### Concatenate Two Tuples

In [86]:
my_tuple= (20,"Tanveer", 3.14, True)
print(my_tuple)  

your_tuple = 10, "Afrin", 2.71, False
print(your_tuple)

print(my_tuple + your_tuple)  # Concatenate two tuples
print(my_tuple * 2)  # Repeat the tuple twice

(20, 'Tanveer', 3.14, True)
(10, 'Afrin', 2.71, False)
(20, 'Tanveer', 3.14, True, 10, 'Afrin', 2.71, False)
(20, 'Tanveer', 3.14, True, 20, 'Tanveer', 3.14, True)

In [88]:
my_tuple= (20,30.5,.088,4)
print(my_tuple)  
print(my_tuple * 2)

(20, 30.5, 0.088, 4)
(20, 30.5, 0.088, 4, 20, 30.5, 0.088, 4)